* {
  box-sizing: border-box;
}

  body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('background.jpg')
}

main {
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 50%;
  height: 100%;
}

.title {
  font-size: 44px;
}

.range-form {
  display: flex;
  flex-direction: row;
  margin: -10px;
  margin-top: 20px;
}

.min-range-txt,
.max-range-txt {
  text-decoration: underline;
}

.update-btn
 {
  border-radius: 6px;
  border: none;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 18px;
  width: 150px;
  height: 35px;
  cursor: pointer;
}

.update-btn:hover,
.submit-btn:hover {
  background-color: #5ae0e0;
}

.max-input-text,
.min-input-text {
  margin: 10px;
}

.input {
  height: 35px;
  width: 65px;
  border: 2px solid gray;
}

.guess-form {
  display: flex;
  flex-direction: column;
}

.guess-input {
  border: 2px solid gray;
  height: 50px;
  width: 500px;
}

.submit-btn {
  border: none;
  width: 480px;
  height: 50px;
}

.btn-container {
  margin-left: 20px;
}

.clear-btn,
.reset-btn,
.submit-btn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
}

.clear-btn,
.reset-btn {
  color: #d3d3d3;
  height: 50px;
  width: 200px;
}

.clear-btn:enabled,
.reset-btn:enabled {
  color: #e255ac;
}

.handle-error-container {
  display: flex;
}

.min-error-msg,
.max-error-msg {
  color: #ff0000;
  display: inline;
  margin: 25px 25px 10px 0px;
}

.right-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -400px;
}

.right-display {
  border: 1px solid teal;
  box-shadow: 5px 5px 5px 5px #2c2a2a;
  border-radius: 6px;
  margin-right: 125px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.error-message {
  color: #ff0000;
}

